.dashboard-business-stats-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard-header-section-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20%;
  margin-top: 2%;
}

.dashboard-header-section {
  width: 25%;
}

.dashboard-business-title {
  font-size: 32px;
  color: #242526;
  text-transform: uppercase;
  font-weight: bold;
}

.dashboard-business-stats-container .dashboard-business-stats-card {
  width: 65%;
  display: flex;
  justify-content: center;
  padding: 2%;
  margin-left: 17%;
}

.business-stats-card {
  display: flex;
  flex-direction: row;
}

.business-stats-card-left,
.business-stats-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12rem;
  width: 35%;
  padding: 1rem;
}

.business-stats-card-left {
  justify-content: center;
}

.business-stats-card-left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.business-stats-card-right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.business-stats-card-right .business-stats-card-btn {
  font-size: 14px;
  padding: 3% 3% 3% 3%;
}

.reviews-stats .business-stats-card-left {
  background-color: #235889af;
}

.reviews-stats .business-stats-card-right {
  background-color: #235789;
}

.stars-stats .business-stats-card-left {
  background-color: #3a92f7bb;
}

.stars-stats .business-stats-card-right {
  background-color: #87bfff;
}

.clicks-stats .business-stats-card-left {
  background-color: #2ca7749d;
}

.clicks-stats .business-stats-card-right {
  background-color: #2ca774;
}

.bookings-stats .business-stats-card-left {
  background-color: #eeb539b0;
}

.bookings-stats .business-stats-card-right {
  background-color: #eeb639;
}

.business-stats-card-icon {
  color: #fff;
  font-size: 55px;
}

.business-stats-card-btn {
  background-color: #fff;
  color: #235789;
  border: none;
}
.btn:not(:disabled):not(.disabled) {
  border-radius: 5px;
}

.business-stats-card-title {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.business-stats-card-value {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.dashboard-business-stats-graphic {
  width: 100%;
  display: flex;
  justify-content: center;
}

.graphic-container {
  width: 60%;
  background-color: #fff;
  padding: 3%;
  border-radius: 20px;
  box-shadow: 0 0.9125rem 0.9125rem 0 rgb(36 37 38 / 30%);
  margin-bottom: 2%;
}

.graphic-label {
  margin-top: 7%;
}

.graphic-options-container {
  margin-left: 19.5%;
  width: 30%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
}
.period-graphic {
  width: 50%;
}
.business-stats-period-option {
  margin: 2%;
}

.generate-graphic-btn {
  margin-top: 5%;
  font-size: 12px !important;
}

.graphic-days-container {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
}

.graphic-day-option {
  margin-left: 10%;
  background-color: #fff;
  padding: 2% 12% 2% 12%;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.graphic-day-option:hover {
  transform: scale(1.1);
}
